/*App Component Styles*/
h1 {
  font-size: 1.2em;
  color: rgb(228, 8, 162);
  margin-bottom: 0;
}
h2 {
  font-size: 2em;
  margin-top: 0;
  padding-top: 0;
}
/*App Component Navigation Styles*/
nav a {
  padding: 5px 10px;
  text-decoration: none;
  margin-top: 10px;
  display: inline-block;
  background-color: rgba(208, 243, 9, 0.973);
  border-radius: 4px;
}
nav a:visited, a:link {
  color: rgb(240, 8, 58);
}
nav a:hover {
  color: #18ac13;
  background-color: rgb(108, 30, 211);
}
nav a.active {
  color: #86c92f;
}
